/*

!include/
!lib/
!node_modules/
!var/
!share/

!.gitignore
!.gitignore.dist
!Gulpfile.js
!index.android.js.dist
!index.ios.js.dist
!package.json.dist
!tsconfig.json
!tsd.json
!tslint.json
!README.md