*

!include/
!lib/
!node_modules/
!var/

!.gitignore
!Gulpfile.js
!index.android.js
!index.android.js.dist
!index.ios.js
!index.ios.js.dist
!package.json
!package.json.dist
!tsconfig.json
!tsd.json
!tslint.json
!README.md