{
    "name": "tsrn",
    "main": "app",
    "version": "0.0.1",
    "description": "Typescript + React-native 开发环境生成工具。",
    "private": true,
    "scripts": {
        "build": "gulp bundle",
        "watch": "gulp watch",
        "start": "node node_modules/react-native/local-cli/cli.js start",
        "android": "adb reverse tcp:8081 tcp:8081 && node node_modules/react-native/local-cli/cli.js run-android",
        "ios": "node node_modules/react-native/local-cli/cli.js run-ios"
    },
    "dependencies": {
        "react": "15.1.0",
        "react-native": "0.28.0"
    },
    "devDependencies": {
        "del": "^2.2.0",
        "typescript": "^1.8.9",
        "gulp": "^3.9.1",
        "gulp-typescript": "^2.12.1",
        "gulp-tslint": "^4.3.2",
        "gulp-insert": "^0.5.0",
        "gulp-replace": "^0.5.4",
        "gulp-sourcemaps": "^1.6.0",
        "gulp-uglify": "^1.5.3",
        "gulp-shell": "^0.5.2"
    },
    "author": "姚尧 <yyao@atfacg.com>",
    "license": "GPL-3.0"
}
